
.confirm-delivery-modal-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.35);
}
.confirm-delivery-modal-card {
    width: 500px;
}
