
.edit-delivery-info-modal-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.35);
}
.edit-delivery-info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.edit-delivery-info-item.status {
    margin-top: 10px;
    margin-bottom: 15px;
}
