
.product-info-card-container {
    margin-top: 15px;
    margin-bottom: 30px;
}
.product-details-table-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.product-details-thumbnails {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.product-details-thumbnail-container {
    height: 250px;
    margin-right: 20px;
}
.product-details-thumbnail-container>img {
    height: 100%;
}
