
.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login-form-container {
    width: 95%;
    max-width: 400px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.login-form-input-group {
    margin-bottom: 10px;
}
.login-form-label {
    margin-bottom: 5px;
}
.login-form-button-title {
    color: #fff !important;
}
